/* .loc-desc{
    padding:4%;
    margin:1%;
} */

.loc-desc{
        width: 55%;
        height: 70vh;
        border: rgba(222, 218, 224, 0.4) solid;
        border-radius: 17%;
        margin:auto;
        margin-top: 4%;
        margin-bottom: 12%;
        /* margin-top: 5%;
        margin-bottom: 4%;
        margin-left:30%; */
        /* padding: 9%;
        border: 2px solid black;
        margin:3%; */
}