.org-pins-container  {
   
    width: 65%;
    height: 70vh;
    margin: 7% 2% auto auto;
    border: rgba(222, 218, 224, 0.4) solid;
    border-radius: 17%;
    /* padding: 9%;
    border: 2px solid black;
    margin:3%; */
    /* margin-right: 1%; */
}

.user-pins-div{
    width: 65%;
    height: 70vh;
    border: rgba(222, 218, 224, 0.4) solid;
    border-radius: 17%;
    margin: 2% auto auto 2%;

    /* padding: 9%;
    border: 2px solid black;
    margin:3%; */
}

.org-img {
    border-radius: 35%;
    border: rgb(160, 157, 161) solid;
}
.cmnt{
    margin-top:27%;
    margin-left:40%;
}
 
