$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

body{
  background-color: #bdbbae;
  // background-image: url("https://images.pexels.com/photos/874684/pexels-photo-874684.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  // background-image: url("https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  // background-image: url("https://images.pexels.com/photos/461049/pexels-photo-461049.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-image: url("https://cdn.wallpaperdirect.com/asset/img/product/156363/tiled/caselio-linen-clear-beige-wallpaper-tiled-156363.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // margin-top: 13%;
  // border-radius: 5%;
  background-position: center center;
  font-family: 'Ubuntu', sans-serif;
  // color: black;
  // color: #adaba3;

}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

a {
  // color: black;
  color: #adaba3;


}

a:hover {

  color: grey;
  font-weight: 900;
  font-size: large;
  text-decoration: none;
  // background-color: lavender;
  border-radius: 5px;

}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
// .footer{
//   margin-bottom: 0%;
// }


// https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60